@charset "UTF-8";

/* MIXINS
-------------------------------------------------- */

@mixin animation($value) {
  -webkit-animation: $value;
  -o-animation: $value;
  animation: $value;
}

@mixin animation-delay($value) {
  -webkit-animation-delay: $value;
  -moz-animation-delay: $value;
  -o-animation-delay: $value;
  animation-delay: $value;
}

@mixin border-radius($values) {
  -webkit-border-radius: $values;
  -moz-border-radius: $values;
  border-radius: $values;
}

@mixin icon-background($url, $move-y, $move-x: 50%) {
  background: url($url) no-repeat $move-x $move-y;
}

@mixin scale($value) {
  -webkit-transform: scale($value);
  -moz-transform: scale($value);
  -ms-transform: scale($value);
  -o-transform: scale($value);
  transform: scale($value);
}

@mixin background-size($value) {
  -webkit-background-size: $value;
  -moz-background-size: $value;
  -o-background-size: $value;
  background-size: $value;
}

@mixin box-shadow($value) {
  -webkit-box-shadow: $value;
  -moz-box-shadow: $value;
  -ms-box-shadow: $value;
  -o-box-shadow: $value;
  box-shadow: $value;
}

@mixin transition($value) {
  -webkit-transition: $value;
  -moz-transition: $value;
  -ms-transition: $value;
  -o-transition: $value;
  transition: $value;
}

@mixin transform($value) {
  -webkit-transform: $value;
  -moz-transform: $value;
  -ms-transform: $value;
  -o-transform: $value;
  transform: $value;
}

/* FONTS
-------------------------------------------------- */

@import url(https://fonts.googleapis.com/css?family=Comfortaa&subset=latin,cyrillic);
//font-family: 'Comfortaa', cursive;
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400italic,400,300,600);
//font-family: 'Open Sans';

/* VARIABLES
-------------------------------------------------- */
$red: #CF212F;
$dark-blue: #021425;
$titleColor: #FFC107;

$color1: #BAF7F6;
$color2: #99ECEA;
$color3: #6ADAD7;
$color4: #39CAC6;
$color5: #0ABAB4;

.color1 {
  background-color: #ffffff;
  background-color: rgba($color1, 0.25);
}

.color2 {
  background-color: #ededed;
  background-color: rgba($color2, 0.35);
}

.color3 {
  background-color: $color3;
}

.color4 {
  background-color: $color4;
}

.color5 {
  background-color: $color5;
}

/* COMMON TAGS AND CLASES
-------------------------------------------------- */

body {
  color: #5a5a5a;
  background-color: #ededed;
  font-family: 'Open Sans';
  overflow-x: hidden;
}

section {
  padding: 50px 0;
  h1 {
    padding-bottom: 0;
  }
}

hr {
  border-top: 1px solid #000;
}

.vcenter {
  display: inline-block;
  vertical-align: middle;
  float: none;
}

.btn:focus, .btn:active {
  outline: none !important;
}

.btn-default-lg, .btn-default-sm {
  color: black;
  @include border-radius(0);
  border: 1px black solid;
  font-family: 'Open Sans';
  font-size: larger;
  background-color: $red;
  @include transition(background 0.3s ease-in-out);
  &:hover {
    background-color: lighten($red, 10%);
    @include transition(background 0.3s ease-in-out);
  }
  &.dark-blue:hover {
    background-color: lighten($dark-blue, 10%);
    color: invert($dark-blue);
  }
}

.btn-transparent {
  background-color: rgba(237, 237, 237, 0.2);
  border: 1px black solid;
  font-weight: bold;
}

.btn-default-lg {
  padding: 15px 56px;
}

.btn-default-sm {
  padding: 7px 28px;
}

.btn-color5 {
  background-color: $color5;
  &:hover {
    background-color: lighten($color5, 5);
  }
}

.btn-round {
  @include border-radius(60px);
}

.btn-no-border {
  border: none;
}

.bold {
  background: none;
  font-weight: bold;
}

/* CUSTOMIZE THE NAVBAR
-------------------------------------------------- */
$primary-color: #38C5B9;

@mixin easeOut {
  @include transition(all .4s cubic-bezier(0.23, 1, 0.32, 1));
}

@mixin tablet {
  @media screen and (max-width: 768px) {
    @content;
  }
}

.menu-wrapper {
  position: fixed;
  z-index: 5;
  width: 100%;
}

.burger {
  position: absolute;
  z-index: 10;
  right: 25px;
  top: 25px;
  cursor: pointer;
  @include transform(rotateY(0deg));
  @include easeOut;

  &__patty {
    width: 28px;
    height: 2px;
    margin: 0 0 4px 0;
    background: #795548;
    @include easeOut;

    &:last-child {
      margin-bottom: 0;
    }
  }

  // transform burger into 'x'
  &--close {
    @include transform(rotate(180deg));

    .burger__patty {
      &:nth-child(1) {
        @include transform(rotate(45deg) translate(4px, 4px));
      }
      &:nth-child(2) {
        opacity: 0;
      }
      &:nth-child(3) {
        @include transform(rotate(-45deg) translate(5px, -4px));
      }
    }
  }
}

.menu {
  position: fixed;
  top: 0;
  width: 100%;
  visibility: hidden;

  &--active {
    visibility: visible;
  }

  &__brand,
  &__list {
    display: -webkit-flex;
    display: flex;
    flex-flow: column wrap;
    -webkit-flex-flow: column wrap;
    align-items: center;
    -webkit-flex-align: center;
    -webkit-align-items: center;
    justify-content: center;
    float: left;
    width: 50%;
    height: 100vh;
    overflow: hidden;
  }

  &__list {
    margin: 0;
    padding: 0;
    background: mix(black, $primary-color, 20);
    background: rgba(mix(black, $primary-color, 20), 0.95);
    list-style-type: none;
    @include transform(translate3d(0, -100%, 0));
    @include easeOut;

    &--active {
      @include transform(translate3d(0, 0, 0));
    }
  }

  &__brand {
    background: $primary-color;
    background: rgba($primary-color, 0.5);
    @include easeOut;
    @include transform(translate3d(0, 100%, 0));
    &--active {
      @include transform(translate3d(0, 0, 0));
    }
  }

  &__item {
    @include transform(translate3d(500px, 0, 0));
    @include easeOut;

    &--active {
      @include transform(translate3d(0, 0, 0));
    }
  }

  &__link {
    display: inline-block;
    position: relative;
    font-size: 30px;
    padding: 15px 0;
    font-weight: 300;
    color: white;
    text-decoration: none !important;
    @include easeOut;

    &:before {
      content: "";
      position: absolute;
      bottom: 0;
      left: 50%;
      width: 10px;
      height: 2px;
      background: white;
      @include transform(translateX(-50%));
      @include easeOut;
    }

    &:hover {
      &:before {
        width: 100%;
      }
    }
  }

  // add delay to each menu item
  @for $x from 1 through 6 {
    .menu__item:nth-child(#{$x}) {
      -webkit-transition-delay: $x*.1s;
      -moz-transition-delay: $x*.1s;
      -ms-transition-delay: $x*.1s;
      -o-transition-delay: $x*.1s;
      transition-delay: $x*.1s;
    }
  }
}

// responsive tablet view
@include tablet {
  ul.menu__list,
  div.menu__brand {
    float: none;
    width: 100%;
    min-height: 0;

    &--active {
      @include transform(translate3d(0, 0, 0));
    }
  }

  .menu__list {
    height: 75vh;
    text-align: center;
    @include transform(translate3d(-100%, 0, 0));
  }

  .menu__link {
    font-size: 24px;
  }

  .menu__brand {
    height: 25vh;
    text-align: center;
    @include transform(translate3d(100%, 0, 0));

    .logo {
      width: 90px;
      height: 90px;
    }
  }
}

// make the demo look nice, not required for your own use.
.logo {
  width: 200px;
  height: 200px;
  background: $color5 url(../img/logo.svg) center center no-repeat;
  @include background-size(cover);
  @include border-radius(50%);
}

/* INTRO
-------------------------------------------------- */

.intro {
  width: 100%;
  height: 100vh;
  background: url(../img/intro.svg) no-repeat 50% 50%;
  z-index: 99;
  @include background-size(cover);

  .intro-button-wrapper {
    padding-top: 70vh;
  }

  section {
    padding: 0;
  }

  $secondarycolor: #2a2b39;

  a {
    color: $secondarycolor;
    text-decoration: none;
    @include transition(all .2s ease-in-out);
    &:hover {
      color: $color4;
    }
  }
  .business-card {
    height: 320px;
    width: 428px;
    max-width: 80vw;
    //max-height: 80vh;
    overflow: hidden;
    @include box-shadow(0 0 43px -10px black);
    position: absolute;
    left: 50%;
    top: 40%;
    @include transform(translate(-50%, -50%));
    .flip {
      @include transition(all .5s ease);
    }
    .subtitle-divider {
      padding: 0;
      margin: 0 auto;
    }
    .front {
      z-index: 11;
      width: 100%;
      position: absolute;
      height: 100%;
      background: #fff;
      @include box-shadow(0 0 33px -1px rgba(0, 0, 0, 0.45));
      @include scale(1);
      @include transition(all .6s ease);
      .top {
        height: 50%;
        background: $color2;
        &:after {
          position: absolute;
          content: '';
          pointer-events: none;
        }
        &:after {
          left: 50%;
          width: 2em;
          height: 2em;
          @include transform(translateX(-50%) rotate(45deg));
          bottom: 10.75em;
          z-index: 10;
          background: inherit;
        }
        .card-logo {
          display: inline-block;
          background: $color5 url(../img/logo.svg) center center no-repeat;
          @include background-size(cover);
          @include border-radius(50%);
          color: #fff;
          z-index: 11;
          padding: .16em;
          position: relative;
          pointer-events: none;
          @include transform(translateX(-50%));
          left: 50%;
          margin-top: .4em;
          font-size: 4em;
          width: 1.75em;
          height: 1.75em;
        }
      }
      .nametroduction {
        margin-top: 2.4em;
        @include transform(translateY(0));
        z-index: 8;
      }
      .name {
        color: $secondarycolor;
        font-weight: 400;
        font-size: 1.75em;
        text-align: center;
        position: relative;
        margin-bottom: .75em;

      }
      .introduction {
        text-align: center;
        color: $secondarycolor;
        font-style: italic;
      }
      .contact-card {
        color: $secondarycolor;
        margin-left: 1.7em;
        font-weight: 300;
        font-size: 1.6em;
        @include transform(translateY(400%));
        span {
          color: #2D3244;
          font-size: 1.7em;
          width: 1.3em;
          display: inline-block;
        }
        a {
          position: relative;
          bottom: .24em
        }
        li {
          margin-bottom: 1em;
          &:first-child {
            margin-top: 1em;
          }
        }
      }
    }
    .back {
      width: 100%;
      height: 100%;
      background: #fff;
      backface-visibility: hidden;
      position: absolute;
    }
  }
  /* HOVER ANIMATIONS */

  .front .top .card-logo, .front .top, .front .top:after, .front .nametroduction, .front .contact-card {
    @include transition(.7s all ease-in-out);
  }

  .flip:hover .front .top .card-logo {
    margin-top: .28em;
    font-size: 1.6em;
    margin-left: .15em;
    @include transform(translateX(0));
    left: 0;
  }
  .flip:hover .front .top {
    height: 15%;
    &:after {
      width: 1.5em;
      height: 1.5em;
      bottom: 18.75em;
    }
  }
  .flip:hover .front .nametroduction {
    @include transform(translateY(400%));
  }
  .flip:hover .front .contact-card {
    @include transform(translateY(-52%));
  }

}

/* MAIN CONTENT
-------------------------------------------------- */

.subtitle-divider {
  width: 20%;
  border-top: 1px solid #DDDDDD;
  padding-bottom: 25px;
}

.product-item-wrapper {
  height: 375px;
  margin-bottom: 30px;
}

.product-item {
  position: relative;
  background-color: white;
  &:before, &:after {
    z-index: -1;
    position: absolute;
    content: "";
    bottom: 15px;
    left: 10px;
    width: 50%;
    top: 80%;
    max-width: 300px;
    background: #777;
    @include box-shadow(0 15px 10px #777);
    @include transform(rotate(-3deg));
  }
  &:after {
    @include transform(rotate(3deg));
    right: 10px;
    left: auto;
  }
  img {
    max-width: 100%;
  }
  h4 {
    height: 2em;
  }
}

/* FOOTER
-------------------------------------------------- */

footer {
  background: #00C9FF; /* fallback for old browsers */
  background: -webkit-linear-gradient(30deg, #0AB9B5, #98EBE9); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(30deg, #0AB9B5, #98EBE9); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  padding-top: 50px;
  padding-bottom: 40px;
  p {
    color: #5a5a5a;
  }
}

.footer-list {
  color: #f5f5f5;
}

.footer-menu-header {
  font-size: 2rem;
}

.footer-menu {
  color: #337ab7;
  font-size: 1.5rem;
}

.footer-social-list {
  font-size: 5rem;
  li {
    a {
      img {
        @include scale(1);
        @include transition(all 0.3s ease-in-out);
        &:hover {
          @include scale(1.2);
          @include transition(all 0.3s ease-in-out);
        }
      }
    }
  }
}

/* CONTACT MODAL
-------------------------------------------------- */
.contact {
  @include border-radius(0);

  fieldset {
    border: medium none !important;
    margin: 0 0 10px;
    min-width: 100%;
    padding: 0;
    width: 100%;
  }
  input, textarea {
    background: #FFF;
    font: 400 12px/16px "Open Sans", Helvetica, Arial, sans-serif;
    border: 1px solid #CCC;
    width: 75%;
    margin: 0 0 5px;
    padding: 10px;
    &:hover {
      @include transition(border-color 0.3s ease-in-out);
    }
    &:focus {
      outline: 0;
      border: 1px solid #999;
    }
  }
  textarea {
    height: 100px;
    max-width: 100%;
    resize: none;
  }
  ::-webkit-input-placeholder {
    color: #888;
  }
  :-moz-placeholder {
    color: #888;
  }
  ::-moz-placeholder {
    color: #888;
  }
  :-ms-input-placeholder {
    color: #888;
  }
  .alert {
    padding: 15px;
  }
}

.contact-title {
  color: $color5;
  font-size: 30px;
  font-weight: 400;
}

/* RESPONSIVE CSS
-------------------------------------------------- */

@media (max-width: 767px) and (orientation: landscape) {
  .intro {
    button {
      display: none;
    }
    .business-card {
      margin-top: 5vh;
    }
  }
}

@media (max-width: 767px) and (orientation: portrait) {
  .intro {
    .intro-button-wrapper {
      padding-top: 80vh;
    }
    .business-card .front .contact-card {
      font-size: 1.15em;
      li:first-child {
        margin-top: 0;
      }
    }
  }
}
