@charset "UTF-8";

/* MIXINS
-------------------------------------------------- */

@mixin animation($value){
  -webkit-animation: $value;
  -o-animation: $value;
  animation: $value;
}

@mixin animation-delay($value){
  -webkit-animation-delay: $value;
  -moz-animation-delay: $value;
  -o-animation-delay: $value;
  animation-delay: $value;
}

@mixin border-radius($values) {
  -webkit-border-radius: $values;
  -moz-border-radius: $values;
  border-radius: $values;
}

@mixin icon-background($url, $move-y, $move-x: 50%) {
  background: url($url) no-repeat $move-x $move-y;
}

@mixin scale($value) {
  -webkit-transform: scale($value);
  -moz-transform: scale($value);
  -ms-transform: scale($value);
  -o-transform: scale($value);
  transform: scale($value);
}

@mixin background-size($value) {
  -webkit-background-size: $value;
  -moz-background-size: $value;
  -o-background-size: $value;
  background-size: $value;
}

@mixin box-shadow($value) {
  -webkit-box-shadow: $value;
  -moz-box-shadow: $value;
  -ms-box-shadow: $value;
  -o-box-shadow: $value;
  box-shadow: $value;
}

@mixin transition($value) {
  -webkit-transition: $value;
  -moz-transition: $value;
  -ms-transition: $value;
  -o-transition: $value;
  transition: $value;
}

@mixin transform($value) {
  -webkit-transform: $value;
  -moz-transform: $value;
  -ms-transform: $value;
  -o-transform: $value;
  transform: $value;
}

/* FONTS
-------------------------------------------------- */

@import url(https://fonts.googleapis.com/css?family=Comfortaa&subset=latin,cyrillic);
//font-family: 'Comfortaa', cursive;
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400italic,400,300,600);
//font-family: 'Open Sans';

/* VARIABLES
-------------------------------------------------- */
$red: #CF212F;
$dark-blue: #021425;
$titleColor: #FFC107;

$color1: #BAF7F6;
$color2: #99ECEA;
$color3: #6ADAD7;
$color4: #39CAC6;
$color5: #0ABAB4;

.color1 {
  background-color: #ffffff;
  background-color: rgba($color1, 0.25);
}

.color2 {
  background-color: #ededed;
  background-color: rgba($color2, 0.35);
}

.color3 {
  background-color: $color3;
}

.color4 {
  background-color: $color4;
}

.color5 {
  background-color: $color5;
}

/* COMMON TAGS AND CLASES
-------------------------------------------------- */

body {
  color: #5a5a5a;
  background-color: #ededed;
  font-family: 'Open Sans';
  overflow-x: hidden;
}

main {

}

section {
  padding: 50px 0;
  h1 {
    padding-bottom: 0;
  }
}

hr {
  border-top: 1px solid #000;
}

.vcenter {
  display: inline-block;
  vertical-align: middle;
  float: none;
}

.btn:focus, .btn:active {
  outline: none !important;
}

.btn-default-lg, .btn-default-sm {
  color: black;
  @include border-radius(0);
  border: 1px black solid;
  font-family: 'Open Sans';
  font-size: larger;
  background-color: $red;
  @include transition(background 0.3s ease-in-out);
  &:hover {
    background-color: lighten($red, 10%);
    @include transition(background 0.3s ease-in-out);
  }
  &.dark-blue:hover {
    background-color: lighten($dark-blue, 10%);
    color: invert($dark-blue);
  }
}

.btn-transparent {
  background-color: rgba(237, 237, 237, 0.2);
  border: 1px black solid;
  font-weight: bold;
}

.btn-default-lg {
  padding: 15px 56px;
}

.btn-default-sm {
  padding: 7px 28px;
}

.btn-color5 {
  background-color: $color5;
  &:hover {
    background-color: lighten($color5, 5);
  }
}

.btn-round {
  @include border-radius(60px);
}

.btn-no-border {
  border: none;
}

.gray {
  background-color: #ededed;
}

.white {
  background-color: #ffffff;
}

.dark-blue {
  background-color: $dark-blue;
  color: invert($dark-blue);
}

.bold {
  background: none;
  font-weight: bold;
}

/* CUSTOMIZE THE NAVBAR
-------------------------------------------------- */

#tog {
  display: none;
  &:checked ~ nav {
    @include transform(rotate(-20deg));
  }
}

#ham {
  background: crimson;
  width: 90px;
  height: 90px;
  @include border-radius(50%);
  box-sizing: border-box;
  padding: 38px 20px 0 34px;
  display: block;
  cursor: pointer;
  position: fixed;
  left: -45px;
  top: -30px;
  border: 6px solid #000;
  z-index: 500;
  opacity: .9;
  @include transition(opacity .3s);
  &:hover {
    opacity: 1;
  }
  span {
    display: block;
    background: #fff;
    width: 100%;
    height: 2px;
    margin-bottom: 3px;
    @include transition(transform .3s);
  }
}

.nav-desktop {
  z-index: 499;
  background: crimson;
  position: fixed;
  top: 0;
  @include transform(translateX(-278px));
  width: 278px;
  height: 830px;
  padding-top: 115px;
  margin-top: -10px;
  box-sizing: border-box;
  @include transition(all .3s ease-in-out);
  overflow: hidden;
  li {
    line-height: 1;
  }
  a {
    text-decoration: none;
    color: lightsalmon;
    display: block;
    text-align: right;
    font-size: 1.75rem;
    padding: 18px;
    width: 95%;
    border-bottom: 1px solid indianred;
    @include transition(background .3s);
    @include transform(rotate(20deg));
    position: relative;
    &:hover {
      background: darkred;
      color: white;
      &before {
        background: darkred
      }
    }
    &:before {
      content: '';
      background: none;
      width: 22px;
      height: 58px;
      position: absolute;
      left: -7%;
      top: 0px;
      @include transition(background .3s);
    }
  }
}

$color-background: #F5F5F5;
$color-main: #FF5252;
$color-active: #FFF;
$color-link: #FFF;

$button-height: 27px;
$button-width: 35px;
.button_container {
  position: fixed;
  top: 10%;
  right: 2%;
  height: $button-height;
  width: $button-width;
  cursor: pointer;
  z-index: 1050;
  @include transition(opacity .25s ease);

  &:hover {
    opacity: .7;
  }

  &.active {
    .top {
      @include transform(translateY(11px) translateX(0) rotate(45deg));
      background: $color-active;
    }
    .middle {
      opacity: 0;
      background: $color-active;
    }

    .bottom {
      @include transform(translateY(-11px) translateX(0) rotate(-45deg));
      background: $color-active;
    }
  }

  span {
    background: $color-main;
    border: none;
    height: 5px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    @include transition(all .35s ease);
    cursor: pointer;

    &:nth-of-type(2) {
      top: 11px;
    }

    &:nth-of-type(3) {
      top: 22px;
    }
  }
}

.overlay {
  position: fixed;
  background: $color-main;
  top: 0;
  left: 0;
  width: 100%;
  height: 0%;
  opacity: 0;
  visibility: hidden;
  overflow: hidden;
  -webkit-transition: opacity .35s, visibility .35s, height .35s;
  -moz-transition: opacity .35s, visibility .35s, height .35s;
  -ms-transition: opacity .35s, visibility .35s, height .35s;
  -o-transition: opacity .35s, visibility .35s, height .35s;
  transition: opacity .35s, visibility .35s, height .35s;
  &.open {
    opacity: .9;
    visibility: visible;
    height: 100%;
    z-index: 1049;
    will-change: opacity, transform;
    li {
      @include animation-delay(.35s);
      @include animation(fadeInRight .5s ease forwards);
      &:nth-of-type(2) {
        @include animation-delay(.4s);
      }
      &:nth-of-type(3) {
        @include animation-delay(.45s);
      }
      &:nth-of-type(4) {
        @include animation-delay(.50s);
      }
    }
  }
  nav {
    position: relative;
    height: 70%;
    top: 50%;
    @include transform(translateY(-50%));
    font-size: 50px;
    font-family: 'Vollkorn', serif;
    font-weight: 400;
    text-align: center;
  }
  ul {
    list-style: none;
    padding: 0;
    margin: 0 auto;
    display: inline-block;
    position: relative;
    height: 100%;

    li {
      display: block;
      height: 25%;
      min-height: 50px;
      position: relative;
      opacity: 0;

      a {
        display: block;
        position: relative;
        color: $color-link;
        text-decoration: none;
        overflow: hidden;

        &:hover:after,
        &:focus:after,
        &:active:after {
          width: 100%;
        }

        &:after {
          content: '';
          position: absolute;
          bottom: 0;
          left: 50%;
          width: 0%;
          height: 3px;
          background: $color-link;
          will-change: transform;
          @include transform(translateX(-50%));
          @include transition(.35s);
        }
      }
    }
  }
}

@keyframes fadeInRight {
  0% {
    opacity: 0;
    left: 20%;
  }
  100% {
    opacity: 1;
    left: 0;
  }
}


$primary-color: #38C5B9;

@mixin easeOut {
  transition: all .4s cubic-bezier(0.23, 1, 0.32, 1)
}

@mixin tablet {
  @media screen and (max-width: 768px) {
    @content;
  }
}

.header {
  position: fixed;
  z-index: 5;
  width: 100%;
}

.burger {
  position: absolute;
  z-index: 10;
  right: 25px;
  top: 25px;
  cursor: pointer;
  transform: rotateY(0deg);
  @include easeOut;

  &__patty {
    width: 28px;
    height: 2px;
    margin: 0 0 4px 0;
    background: white;
    @include easeOut;

    &:last-child {
      margin-bottom: 0;
    }
  }

  // transform burger into 'x'
  &--close {
    transform: rotate(180deg);

    .burger__patty {
      &:nth-child(1) {
        transform: rotate(45deg) translate(4px, 4px);
      }
      &:nth-child(2) {
        opacity: 0;
      }
      &:nth-child(3) {
        transform: rotate(-45deg) translate(5px, -4px);
      }
    }
  }
}

.menu {
  position: fixed;
  top: 0;
  width: 100%;
  visibility: hidden;

  &--active {
    visibility: visible;
  }

  &__brand,
  &__list {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    float: left;
    width: 50%;
    height: 100vh;
    overflow: hidden;
  }

  &__list {
    margin: 0;
    padding: 0;
    background: mix(black, $primary-color, 20);
    background: rgba(mix(black, $primary-color, 20), 0.95);
    list-style-type: none;
    @include transform(translate3d(0, -100%, 0));
    @include easeOut;

    &--active {
      @include transform(translate3d(0, 0, 0));
    }
  }

  &__brand {
    background: $primary-color;
    background: rgba($primary-color, 0.5);
    @include easeOut;
    @include transform(translate3d(0, 100%, 0));

    &--active {
      @include transform(translate3d(0, 0, 0));
    }
  }

  &__item {
    @include transform(translate3d(500px, 0, 0));
    @include easeOut;

    &--active {
      @include transform(translate3d(0, 0, 0));
    }
  }

  &__link {
    display: inline-block;
    position: relative;
    font-size: 30px;
    padding: 15px 0;
    font-weight: 300;
    color: white;
    text-decoration: none !important;
    @include easeOut;

    &:before {
      content: "";
      position: absolute;
      bottom: 0;
      left: 50%;
      width: 10px;
      height: 2px;
      background: white;
      @include transform(translateX(-50%));
      @include easeOut;
    }

    &:hover {
      &:before {
        width: 100%;
      }
    }
  }

  // add delay to each menu item
  @for $x from 1 through 6 {
    .menu__item:nth-child(#{$x}) {
      transition-delay: $x * .1s;
    }
  }
}

// responsive tablet view
@include tablet {
  ul.menu__list,
  div.menu__brand {
    float: none;
    width: 100%;
    min-height: 0;

    &--active {
      @include transform(translate3d(0, 0, 0));
    }
  }

  .menu__list {
    height: 75vh;
    @include transform(translate3d(-100%, 0, 0));
  }

  .menu__link {
    font-size: 24px;
  }

  .menu__brand {
    height: 25vh;
    @include transform(translate3d(100%, 0, 0));

    .logo {
      width: 90px;
      height: 90px;
    }
  }
}

// make the demo look nice, not required for your own use.
.logo {
  width: 200px;
  height: 200px;
  background: lighten(black, 10);
  border-radius: 50%;
}


/* INTRO
-------------------------------------------------- */

.intro {
  width: 100%;
  height: 100vh;
  color: $titleColor;
  background: url(../img/intro.jpg) no-repeat 50% 55%;
  z-index: 99;
  @include background-size(cover);
  h1 {
    font-family: 'Open Sans';
    padding-top: 30vh;
    text-shadow: 2px 2px 10px black, 0 0 5rem black;
  }
}

/* MAIN CONTENT
-------------------------------------------------- */

.divider {
  margin: 80px 0;
}

.subtitle-divider {
  width: 20%;
  border-top: 1px solid #DDDDDD;
  padding-bottom: 25px;
}

/* SECOND REVIEWS
-------------------------------------------------- */

$review2-item-width: 600px;
$reviews2-item-count: 3;
$reviews2-item-duration: 7.5s;
.horizontal-slider {
  //width: $review2-item-width;
  position: relative;
  overflow: hidden;
  margin: 0 auto;
  .items {
    width: $reviews2-item-count*100%;
    -webkit-animation: hscroll $reviews2-item-count*$reviews2-item-duration infinite;
    -moz-animation: hscroll $reviews2-item-count*$reviews2-item-duration infinite;
    -ms-animation: hscroll $reviews2-item-count*$reviews2-item-duration infinite;
    animation: hscroll $reviews2-item-count*$reviews2-item-duration infinite;
  }
  .item {
    margin: 0;
    float: left;
    width: 100%/$reviews2-item-count;
    .reviews2-photo {
      vertical-align: top;
      padding: 0 20px;
    }
    .reviews2-name {
      font-size: 3rem;
    }
    .reviews2-profession {
      font-size: 1.4rem;
    }
    .reviews2-comment {
      font-size: 1.6rem;
    }
  }
}

@-webkit-keyframes hscroll {
  // 100/n - 6.25
  0%, 26.75% {
    margin-left: 0
  }
  33%, 59.75% {
    margin-left: -100%;
  }
  66%, 93.75% {
    margin-left: -200%;
  }
  100% {
    margin-left: 0
  }
}

@-moz-keyframes hscroll {
  0%, 26.75% {
    margin-left: 0
  }
  33%, 59.75% {
    margin-left: -$review2-item-width;
  }
  66%, 93.75% {
    margin-left: -2*$review2-item-width;
  }
  100% {
    margin-left: 0
  }
}

@-ms-keyframes hscroll {
  0%, 26.75% {
    margin-left: 0
  }
  33%, 59.75% {
    margin-left: -$review2-item-width;
  }
  66%, 93.75% {
    margin-left: -2*$review2-item-width;
  }
  100% {
    margin-left: 0
  }
}

@keyframes hscroll {
  0%, 26.75% {
    margin-left: 0
  }
  33%, 59.75% {
    margin-left: -100%;
  }
  66%, 93.75% {
    margin-left: -200%;
  }
  100% {
    margin-left: 0;
  }
}

.map {
  padding-top: 0;
  padding-bottom: 400px;
  .list-inline {
    margin-bottom: 0;
  }
}

/* FOOTER
-------------------------------------------------- */

footer {
  background: #00C9FF; /* fallback for old browsers */
  background: -webkit-linear-gradient(30deg, #0AB9B5, #98EBE9); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(30deg, #0AB9B5, #98EBE9); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  padding-top: 50px;
  padding-bottom: 40px;
  p {
    color: #5a5a5a;
  }
}

.footer-list {
  color: #f5f5f5;
}

.footer-menu-header {
  font-size: 2rem;
}

.footer-menu {
  color: #337ab7;
  font-size: 1.5rem;
}

.footer-social-list {
  font-size: 5rem;
  li {
    a {
      img {
        @include scale(1);
        @include transition(all 0.3s ease-in-out);
        &:hover {
          @include scale(1.2);
          @include transition(all 0.3s ease-in-out);
        }
      }
    }
  }
}

/* CONTACT MODAL
-------------------------------------------------- */
.contact {
  @include border-radius(0);

  fieldset {
    border: medium none !important;
    margin: 0 0 10px;
    min-width: 100%;
    padding: 0;
    width: 100%;
  }
  input, textarea {
    background: #FFF;
    font: 400 12px/16px "Open Sans", Helvetica, Arial, sans-serif;
    border: 1px solid #CCC;
    width: 75%;
    margin: 0 0 5px;
    padding: 10px;
    &:hover {
      @include transition(border-color 0.3s ease-in-out);
    }
    &:focus {
      outline: 0;
      border: 1px solid #999;
    }
  }
  textarea {
    height: 100px;
    max-width: 100%;
    resize: none;
  }
  ::-webkit-input-placeholder {
    color: #888;
  }
  :-moz-placeholder {
    color: #888;
  }
  ::-moz-placeholder {
    color: #888;
  }
  :-ms-input-placeholder {
    color: #888;
  }
  .alert {
    padding: 15px;
  }
}

.contact-title {
  color: #F96;
  font-size: 30px;
  font-weight: 400;
}

/* RESPONSIVE CSS
-------------------------------------------------- */

@media (max-width: 767px) {

}