/* MIXINS
-------------------------------------------------- */
/* FONTS
-------------------------------------------------- */
@import url(https://fonts.googleapis.com/css?family=Comfortaa&subset=latin,cyrillic);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400italic,400,300,600);
/* VARIABLES
-------------------------------------------------- */
.color1 {
  background-color: #ffffff;
  background-color: rgba(186, 247, 246, 0.25); }

.color2 {
  background-color: #ededed;
  background-color: rgba(153, 236, 234, 0.35); }

.color3 {
  background-color: #6ADAD7; }

.color4 {
  background-color: #39CAC6; }

.color5 {
  background-color: #0ABAB4; }

/* COMMON TAGS AND CLASES
-------------------------------------------------- */
body {
  color: #5a5a5a;
  background-color: #ededed;
  font-family: 'Open Sans';
  overflow-x: hidden; }

section {
  padding: 50px 0; }
  section h1 {
    padding-bottom: 0; }

hr {
  border-top: 1px solid #000; }

.vcenter {
  display: inline-block;
  vertical-align: middle;
  float: none; }

.btn-rectangle-lg, .btn-rectangle-sm {
  color: black;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  font-family: 'Open Sans';
  font-size: larger;
  background-color: #CF212F;
  -webkit-transition: background 0.3s ease-in-out;
  -moz-transition: background 0.3s ease-in-out;
  -ms-transition: background 0.3s ease-in-out;
  -o-transition: background 0.3s ease-in-out;
  transition: background 0.3s ease-in-out; }
  .btn-rectangle-lg:hover, .btn-rectangle-sm:hover {
    background-color: #e1424f;
    -webkit-transition: background 0.3s ease-in-out;
    -moz-transition: background 0.3s ease-in-out;
    -ms-transition: background 0.3s ease-in-out;
    -o-transition: background 0.3s ease-in-out;
    transition: background 0.3s ease-in-out; }
  .btn-rectangle-lg.dark-blue:hover, .btn-rectangle-sm.dark-blue:hover {
    background-color: #052e55;
    color: #fdebda; }

.btn-transparent {
  background-color: rgba(237, 237, 237, 0.2);
  border: 1px black solid;
  font-weight: bold; }

.btn-rectangle-lg {
  padding: 15px 56px; }

.btn-rectangle-sm {
  padding: 7px 28px; }

.gray {
  background-color: #ededed; }

.white {
  background-color: #ffffff; }

.dark-blue {
  background-color: #021425;
  color: #fdebda; }

.bold {
  background: none;
  font-weight: bold; }

/* CUSTOMIZE THE NAVBAR
-------------------------------------------------- */
#tog {
  display: none; }
  #tog:checked ~ nav {
    -webkit-transform: rotate(-20deg);
    -moz-transform: rotate(-20deg);
    -ms-transform: rotate(-20deg);
    -o-transform: rotate(-20deg);
    transform: rotate(-20deg); }

#ham {
  background: crimson;
  width: 90px;
  height: 90px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  box-sizing: border-box;
  padding: 38px 20px 0 34px;
  display: block;
  cursor: pointer;
  position: fixed;
  left: -45px;
  top: -30px;
  border: 6px solid #000;
  z-index: 500;
  opacity: .9;
  -webkit-transition: opacity 0.3s;
  -moz-transition: opacity 0.3s;
  -ms-transition: opacity 0.3s;
  -o-transition: opacity 0.3s;
  transition: opacity 0.3s; }
  #ham:hover {
    opacity: 1; }
  #ham span {
    display: block;
    background: #fff;
    width: 100%;
    height: 2px;
    margin-bottom: 3px;
    -webkit-transition: transform 0.3s;
    -moz-transition: transform 0.3s;
    -ms-transition: transform 0.3s;
    -o-transition: transform 0.3s;
    transition: transform 0.3s; }

.nav-desktop {
  z-index: 499;
  background: crimson;
  position: fixed;
  top: 0;
  -webkit-transform: translateX(-278px);
  -moz-transform: translateX(-278px);
  -ms-transform: translateX(-278px);
  -o-transform: translateX(-278px);
  transform: translateX(-278px);
  width: 278px;
  height: 830px;
  padding-top: 115px;
  margin-top: -10px;
  box-sizing: border-box;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  overflow: hidden; }
  .nav-desktop li {
    line-height: 1; }
  .nav-desktop a {
    text-decoration: none;
    color: lightsalmon;
    display: block;
    text-align: right;
    font-size: 1.75rem;
    padding: 18px;
    width: 95%;
    border-bottom: 1px solid indianred;
    -webkit-transition: background 0.3s;
    -moz-transition: background 0.3s;
    -ms-transition: background 0.3s;
    -o-transition: background 0.3s;
    transition: background 0.3s;
    -webkit-transform: rotate(20deg);
    -moz-transform: rotate(20deg);
    -ms-transform: rotate(20deg);
    -o-transform: rotate(20deg);
    transform: rotate(20deg);
    position: relative; }
    .nav-desktop a:hover {
      background: darkred;
      color: white; }
      .nav-desktop a:hoverbefore {
        background: darkred; }
    .nav-desktop a:before {
      content: '';
      background: none;
      width: 22px;
      height: 58px;
      position: absolute;
      left: -7%;
      top: 0px;
      -webkit-transition: background 0.3s;
      -moz-transition: background 0.3s;
      -ms-transition: background 0.3s;
      -o-transition: background 0.3s;
      transition: background 0.3s; }

/* INTRO
-------------------------------------------------- */
.intro {
  width: 100%;
  height: 100vh;
  color: #FFC107;
  background: url(../img/intro.jpg) no-repeat 50% 55%;
  z-index: 99;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }
  .intro h1 {
    font-family: 'Open Sans';
    padding-top: 30vh;
    text-shadow: 2px 2px 10px black, 0 0 5rem black;
    z-index: 99; }

/* MAIN CONTENT
-------------------------------------------------- */
.divider {
  margin: 80px 0; }

.subtitle-divider {
  width: 20%;
  border-top: 1px solid #DDDDDD;
  padding-bottom: 25px; }

/* SECOND REVIEWS
-------------------------------------------------- */
.horizontal-slider {
  position: relative;
  overflow: hidden;
  margin: 0 auto; }
  .horizontal-slider .items {
    width: 300%;
    -webkit-animation: hscroll 22.5s infinite;
    -moz-animation: hscroll 22.5s infinite;
    -ms-animation: hscroll 22.5s infinite;
    animation: hscroll 22.5s infinite; }
  .horizontal-slider .item {
    margin: 0;
    float: left;
    width: 33.33333%; }
    .horizontal-slider .item .reviews2-photo {
      vertical-align: top;
      padding: 0 20px; }
    .horizontal-slider .item .reviews2-name {
      font-size: 3rem; }
    .horizontal-slider .item .reviews2-profession {
      font-size: 1.4rem; }
    .horizontal-slider .item .reviews2-comment {
      font-size: 1.6rem; }

@-webkit-keyframes hscroll {
  0%, 26.75% {
    margin-left: 0; }
  33%, 59.75% {
    margin-left: -100%; }
  66%, 93.75% {
    margin-left: -200%; }
  100% {
    margin-left: 0; } }
@-moz-keyframes hscroll {
  0%, 26.75% {
    margin-left: 0; }
  33%, 59.75% {
    margin-left: -600px; }
  66%, 93.75% {
    margin-left: -1200px; }
  100% {
    margin-left: 0; } }
@-ms-keyframes hscroll {
  0%, 26.75% {
    margin-left: 0; }
  33%, 59.75% {
    margin-left: -600px; }
  66%, 93.75% {
    margin-left: -1200px; }
  100% {
    margin-left: 0; } }
@keyframes hscroll {
  0%, 26.75% {
    margin-left: 0; }
  33%, 59.75% {
    margin-left: -100%; }
  66%, 93.75% {
    margin-left: -200%; }
  100% {
    margin-left: 0; } }
.map {
  padding-top: 0;
  padding-bottom: 400px; }
  .map .list-inline {
    margin-bottom: 0; }

/* FOOTER
-------------------------------------------------- */
footer {
  background: #00C9FF;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(30deg, #0AB9B5, #98EBE9);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(30deg, #0AB9B5, #98EBE9);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  padding-top: 50px;
  padding-bottom: 40px; }
  footer p {
    color: #5a5a5a; }

.footer-list {
  color: #f5f5f5; }

.footer-menu-header {
  font-size: 2rem; }

.footer-menu {
  color: #337ab7;
  font-size: 1.5rem; }

.footer-social-list {
  font-size: 5rem; }
  .footer-social-list li a img {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out; }
    .footer-social-list li a img:hover {
      -webkit-transform: scale(1.2);
      -moz-transform: scale(1.2);
      -ms-transform: scale(1.2);
      -o-transform: scale(1.2);
      transform: scale(1.2);
      -webkit-transition: all 0.3s ease-in-out;
      -moz-transition: all 0.3s ease-in-out;
      -ms-transition: all 0.3s ease-in-out;
      -o-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out; }

/* CONTACT MODAL
-------------------------------------------------- */
.contact {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0; }
  .contact fieldset {
    border: medium none !important;
    margin: 0 0 10px;
    min-width: 100%;
    padding: 0;
    width: 100%; }
  .contact input, .contact textarea {
    background: #FFF;
    font: 400 12px/16px "Open Sans", Helvetica, Arial, sans-serif;
    border: 1px solid #CCC;
    width: 75%;
    margin: 0 0 5px;
    padding: 10px; }
    .contact input:hover, .contact textarea:hover {
      -webkit-transition: border-color 0.3s ease-in-out;
      -moz-transition: border-color 0.3s ease-in-out;
      -ms-transition: border-color 0.3s ease-in-out;
      -o-transition: border-color 0.3s ease-in-out;
      transition: border-color 0.3s ease-in-out; }
    .contact input:focus, .contact textarea:focus {
      outline: 0;
      border: 1px solid #999; }
  .contact textarea {
    height: 100px;
    max-width: 100%;
    resize: none; }
  .contact ::-webkit-input-placeholder {
    color: #888; }
  .contact :-moz-placeholder {
    color: #888; }
  .contact ::-moz-placeholder {
    color: #888; }
  .contact :-ms-input-placeholder {
    color: #888; }
  .contact .alert {
    padding: 15px; }

.contact-title {
  color: #F96;
  font-size: 30px;
  font-weight: 400; }

/* RESPONSIVE CSS
-------------------------------------------------- */

/*# sourceMappingURL=style.css.map */
