<section class="color1" id="delivery">
    <div class="container">
        <h1 class="text-center text-uppercase">Доставка</h1>
        <hr class="subtitle-divider"/>
        <p>Самовывоз возможен при предварительном подтверждении заказа по адресу:<br/>
            г.Санкт-Петербург, метро Международная, Турку 11к2
        </p>
        <section>
            <h4>Для оформления заказа в регионы необходимо:</h4>
            <ul>
                <li>Сообщить нам, что вы хотите заказать</li>
                <li>Написать ваш полный адрес с индексом и ФИО полностью</li>
                <li>Мы рассчитываем стоимость доставки и выберем удобный способ оплаты для вас:<br/>
                    Карты Сбербанк, Афльфабанк, СитиБанк, Яндекс.Деньги, Киви Кошелек
                </li>
            </ul>
        </section>
        <p>Стоимость услуги - 400 руб.</p>

        <p>Срок доставки от 3 да 14 дней.</p>

        <p>Доставка во все регионы при 100% оплате.</p>
    </div>
</section>