<section class="color1" id="1">
    <div class="container text-center">
        <h1 class="text-uppercase ">Как мы работаем</h1>
        <hr class="subtitle-divider"/>
    </div>
</section>

<section class="color2" id="2" data-ng-controller="ProductListController">
    <div class="container">
        <h1 class="text-uppercase text-center">Товары</h1>
        <hr class="subtitle-divider"/>
        <input type="text" placeholder="Поиск" data-ng-model="query"/>
        <ul class="list-inline">
            <li class="col-xs-12 col-sm-4 col-md-3 text-center" style="height: 350px; margin-bottom:30px;"
                data-ng-repeat="product in products | filter:{name:query}">
                <h4 style="height: 2em;">{{product.name}}</h4>
                <img class="img-rounded" data-ng-src="{{product.url}}" alt="" title="{{product.description.short}}"
                     height="256"/><br/>
                <small>{{product.volume}} мл</small>
                <br/>
                <strong>{{product.price | currency:undefined:0}}</strong><br/>
                <a data-ng-href="#/product/{{product.id}}">Подробнее</a>
            </li>
        </ul>

    </div>
</section>

<section class="color1" id="3">
    <div class="container">
        <h1 class="text-uppercase text-center">Заголовок 3</h1>
        <hr class="subtitle-divider"/>
    </div>
</section>
